
@{
    ViewData["Title"] = "Blog";
}

<!-- start page-title -->
    <section class="page-title">
        <div class="page-title-container">
            <div class="page-title-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col col-xs-12">
                            <h2>Grid 4 columns</h2>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li>Grid 4 columns</li>
                            </ol>
                        </div>
                    </div> <!-- end row -->
                </div> <!-- end container -->
            </div>
        </div>
    </section>
    
<!-- end page-title -->
<!-- start blog-pg-section -->
    <section class="blog-pg-section blog-grid-4-columns section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="blog-content clearfix">
                        <div class="post format-standard-image">
                            <div class="entry-media">
                                <img src="~/images/blog/img-6.jpg" alt="">
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman and above it there hung a picture digling about</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                        <div class="post format-standard-image">
                            <div class="entry-media">
                                <img src="~/images/blog/img-2.jpg" alt="">
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman and above it there hung a picture digling about</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                        <div class="post format-gallery">
                            <div class="entry-media post-slider owl-carousel owl-theme owl-loaded owl-text-select-on">


                                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-662px, 0px, 0px); transition: all 0s ease 0s; width: 1986px;"><div class="owl-item cloned" style="width: 301px; margin-right: 30px;"><img src="~/images/blog/img-3.jpg" alt=""></div><div class="owl-item cloned" style="width: 301px; margin-right: 30px;"><img src="~/images/blog/img-2.jpg" alt=""></div><div class="owl-item active" style="width: 301px; margin-right: 30px;"><img src="~/images/blog/img-3.jpg" alt=""></div><div class="owl-item" style="width: 301px; margin-right: 30px;"><img src="~/images/blog/img-2.jpg" alt=""></div><div class="owl-item cloned" style="width: 301px; margin-right: 30px;"><img src="~/images/blog/img-3.jpg" alt=""></div><div class="owl-item cloned" style="width: 301px; margin-right: 30px;"><img src="~/images/blog/img-2.jpg" alt=""></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fi flaticon-back"></i></div><div class="owl-next" style=""><i class="fi flaticon-next"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">Won’t find anywhere and you can design with tons</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman and above it there hung a picture digling about</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                        <div class="post format-video">
                            <div class="entry-media video-holder">
                                <img src="~/images/blog/img-4.jpg" alt="">
                                <a href="https://www.youtube.com/embed/7e90gBu4pas?autoplay=1" class="video-btn" data-type="iframe">
                                    <i class="fi flaticon-play"></i>
                                </a>
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman and above it there hung a picture digling about</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                        <div class="post format-standard-image">
                            <div class="entry-media">
                                <img src="~/images/blog/img-5.jpg" alt="">
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">Won’t find anywhere and you can design with tons</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman and above it there hung a picture digling about</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                        <div class="post format-standard-image">
                            <div class="entry-media">
                                <img src="~/images/blog/img-7.jpg" alt="">
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman and above it there hung a picture digling about</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                        <div class="post format-standard-image">
                            <div class="entry-media">
                                <img src="~/images/blog/img-6.jpg" alt="">
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman and above it there hung a picture digling about</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                        <div class="post format-standard-image">
                            <div class="entry-media">
                                <img src="~/images/blog/img-2.jpg" alt="">
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            </ul>
                            <h3><a href="#">And you can design with tons of artwork and fonts yours</a></h3>
                            <p>Samma game samples lay spread out on the table samsa was a travelling salesman and above it there hung a picture digling about</p>
                            <a href="#" class="theme-btn-s3">Read More</a>
                        </div>
                        <div class="pagination-wrapper pagination-wrapper-center">
                            <ul class="pg-pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <i class="fi flaticon-back"></i>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <i class="fi flaticon-next"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </section>
<!-- end blog-pg-section -->
